@tailwind base;
@tailwind components;
@tailwind utilities;

.input-dynamic {
  transition: border-color 0.2s;
}
.label-dynamic {
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in,
    color 200ms ease-in;
}
.input-dynamic:focus ~ .label-dynamic,
.input-dynamic:not(:placeholder-shown) ~ .label-dynamic {
  top: 0px;
  font-size: 13px;
  left: 7px;
}

.button-primary {
  @apply px-3 py-2 outline-none bg-indigo-500 text-white rounded-full font-bold;
}

button:disabled {
  @apply bg-gray-400 hover:bg-gray-400 cursor-not-allowed;
}

.component-box {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 0.5rem;
}
